/* Colors */
/* Primary */
/* Transparent color */
/* Gradients */
/* Neutral */
/* Typography */
@font-face {
  font-family: "Hanken Grotesk";
  src: url("../fonts/HankenGrotesk-VariableFont_wght.ttf");
}
/* Mixin */
/* Content */
body {
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: hsl(221, 100%, 96%);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.h3 {
  font-size: 23px;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 20.7em);
  grid-template-rows: 1fr;
  z-index: 1024;
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
}
@media screen and (max-width: 800px) {
  .card {
    grid-template-columns: none;
    grid-template-rows: none;
    margin-top: 4rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.card .first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), 30%, hsl(241, 81%, 54%));
  color: hsl(241, 100%, 89%);
  border-radius: 30px;
  padding: 30px 0;
}
.card .first-section .fs-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: linear-gradient(to bottom, hsl(224, 30%, 27%), 30%, hsl(241, 81%, 54%));
  width: 200px;
  height: 200px;
  z-index: 1;
}
.card .first-section .fs-score .fs-main-score {
  font-size: 5em;
  color: hsl(0, 0%, 100%);
  font-weight: 800;
}
.card .first-section .fs-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 4em;
  text-align: center;
}
.card .first-section .fs-description .h2 {
  color: hsl(0, 0%, 100%);
  margin-top: 1.2rem;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0;
}
.card .second-section {
  padding: 30px 30px;
}
.card .second-section ul {
  list-style-position: outside;
  list-style-type: none;
  padding-left: 0;
  margin: 35px 5px;
}
.card .second-section ul li {
  padding: 17px 1rem;
  margin: 1em 0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card .second-section ul .ul-reaction {
  background: hsla(0, 100%, 67%, 0.2);
}
.card .second-section ul .ul-reaction__text {
  color: hsl(0, 100%, 67%);
}
.card .second-section ul .ul-reaction__text::before {
  margin-right: 0.8rem;
  vertical-align: middle;
  content: url("../images/icon-reaction.svg");
}
.card .second-section ul .ul-memory {
  background: hsla(39, 100%, 56%, 0.2);
}
.card .second-section ul .ul-memory__text {
  color: hsl(39, 100%, 56%);
}
.card .second-section ul .ul-memory__text::before {
  margin-right: 0.8rem;
  vertical-align: middle;
  content: url("../images/icon-memory.svg");
}
.card .second-section ul .ul-verbal {
  background: hsla(166, 100%, 37%, 0.2);
}
.card .second-section ul .ul-verbal__text {
  color: hsl(166, 100%, 37%);
}
.card .second-section ul .ul-verbal__text::before {
  margin-right: 0.8rem;
  vertical-align: middle;
  content: url("../images/icon-verbal.svg");
}
.card .second-section ul .ul-visual {
  background: hsla(234, 85%, 45%, 0.2);
}
.card .second-section ul .ul-visual__text {
  color: hsl(234, 85%, 45%);
}
.card .second-section ul .ul-visual__text::before {
  margin-right: 0.8rem;
  vertical-align: middle;
  content: url("../images/icon-visual.svg");
}
.card .second-section .ss-button {
  border-radius: 30px;
  border: none;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  padding: 19px 118px;
  font-weight: 700;
  font-size: 18px;
}
.card .second-section .ss-button:hover {
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), 30%, hsl(241, 81%, 54%));
}
.card .second-section .ss-button:focus {
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), 30%, hsl(241, 81%, 54%));
}
.card .text-center {
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
